.header_blogs {
    background-image: url("../images_blog/blogs_header.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
    font-family: "Tinos", serif !important;

  }

  .navbar {
    background-color: transparent !important;
    box-shadow: none;
  }

  .navbar .nav-link {
    color: white !important;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 26px;
    margin-right: 20px;
  }

  .navbar .nav-link:hover {
    color: #ffd700 !important;
  }

  .navbar-toggler {
    border-color: white;
  }

  .navbar-toggler-icon {
    background-color: white;
  }
  .card{
    margin-bottom: 20px; 
  }
    .card-img-top_blogs {
    cursor: pointer; /* Hiển thị con trỏ khi di chuột vào ảnh */
    height:260px;
    }
    .btn{
        font-size: 15;
        background-color: orange;
        border: #fff;
        font-size: 18px;
    }
    .btn:hover{
        background-color: orangered;
    }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .text {
    font-size: 85px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Tạo hiệu ứng đổ bóng */
    animation: fadeIn 2s ease-in-out;
  }
  /* Add font customization for the card title */
  .card-title_blogs {
    font-size: 22px;
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
  }

  /* Add font customization for the card text */
  .card-text_blogs  {
    font-size: 18px;
    color: #555; /* Adjust the color as needed */
  }

  .navbar .nav-item.dropdown .dropdown-toggle::after {
    display: none; 
  }
  .navbar .nav-item.dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8) !important; /* Màu trắng với độ mờ 80% */
    border: none; /* Loại bỏ đường viền nếu cần */
  }
  .dropdown-menu { 
    display: none;
    position: absolute;
    right: -10px;
    background-color: #fff;
    list-style: none;
    width: 180px;
    
  }
  /* Thiết kế cho từng mục trong menu con */
  dropdown-menu li {
    padding: 5px;
    margin-right: 18px;
  }
  .dropdown-menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }

  .dropdown-menu li a:hover {
    color: yellow; /* Chữ màu vàng */
      background-color: #e0e0e0; /* Cam nhạt */
      transition: background-color 0.3s, color 0.3s;

  }

  /* Hiển thị menu con khi di chuột vào mục cha */
  .nav-item:hover .dropdown-menu {
    display: block;
  } 
