body{
    background-color: #5EA1A3 !important;
    font-family: "Tinos", serif !important;
}
.card {
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-body {
    padding: 20px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-fluid{
    border-radius: 5px;
}
.card:hover {
    transform: scale(1.05);
}
@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.card img {
    max-height: 200px;
    object-fit: cover;
}
.btn{
    background-color: orange !important;
    border: none !important;
    font-size: 18px;
}
.btn:hover{
    background-color: #f57c00 !important;
}
.form-label{
    color: white;
    font-size: 18px;
}
.card-title {
    font-weight: bold; 
}
.form-label{
    color: black;
}
#sticky-filter {
    position: sticky;
    top: 100px; 
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
