/* Background styling */
body {
    font-family: "Tinos", serif;
    background: url('../assets/images/SaPa.jpg') no-repeat center center/cover;
    height: 640px;
}


/* Card styling */
.card {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

/* Card title styling */
.card-title {
    font-weight: bold;
    text-transform: uppercase;
}

/* Button customizations */
.btn-custom {
    background-color: #5EA1A3;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #5EA1A3;
}